ADMIN_USERNAME=admin
# docker run --rm -it ghcr.io/wolfverinehim/caddy-control:latest python -m app.password
ADMIN_PASSWORD_HASH=pega_aqui_el_hash_pbkdf2
# openssl rand -hex 32
SESSION_SECRET=pega_aqui_un_secreto_aleatorio
CADDY_CONTROL_BIND=127.0.0.1
CADDY_CONFIG_DIR=/srv/caddy
COOKIE_SECURE=false
